{% extends 'user_form/base.html' %} {% block booking %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Booking Date</th>
      <th>Description</th>
      <th>Booking Reference</th>
    </tr>
  </thead>
  {% for i in book_data %}
  <tbody>
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.booking_date}}</td>
      <td>{{i.description}}</td>
      <td>{{i.Booking_ref}}</td>
    </tr>
  </tbody>

  <tbody>
    {% empty %}
    <h1>No Data Available for now</h1>
    {% endfor %}
  </tbody>
</table>

{% endblock booking %}
